mixin tempContent
  h1 Заголовок H1 первого уровня
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, nam?
  //- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, nam?
  //- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, nam?

  h2 Заголовок H2 второго уровня
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, nam?
  //- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, nam?
  //- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, nam?
  
  //- h3 Заголовок H3 третьего уровня
  //- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, nam?
  //- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, nam?
  //- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, nam?

  //- h4 Заголовок H4 четвертого уровня
  //- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, nam?
  //- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, nam?
  //- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, nam?

  //- h5 Заголовок H5 пятого уровня
  //- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, nam?
  //- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, nam?
  //- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, nam?

  //- h6 Заголовок H6 шестого уровня
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, nam?
  p
    | Систем для удаления волос лазером множество и отличаются они способом генерации #[strong лазерных импульсов], так при лазерной эпиляции волос импульсы действуют только на волос и поэтому более безопасны для организма в целом.
  p В нашей клинике представлен александритовый лазер для эпиляции Candela GentleLasePro-U.
  
  h2 Методика лазерной эпиляции волос
  p Методика #[strong лазерной эпиляции волос]  Candela GentleLasePro-U радикальна и уникальна. Заключается она в том, что лазерная энергия, проходя по стержню волоса, преобразуется в тепловую энергию и разрушает волосяной фолликул, но при этом не повреждает кожу. Так как в волосе находится большая часть меланина, чем в коже, то большая часть лазерной энергии поглощается волосом, при этом кожа незначительно нагревается и быстро остывает. Часть волоса от лазера  Candela GentleLasePro-U сгорает, луковица повреждается или полностью разрушается, в результате чего рост волос прекращается, этим достигается избирательность действия лазерной эпиляции волос. Но волосы устраняются не все, а только те, что видимы на поверхности кожи и с проведением последующих сеансов лазерной эпиляции волосы удаляются полностью.
  
  h3 Противопоказания и ограничения использования методики лазерной эпиляции волос
  p Существуют относительные и абсолютные противопоказания к процедуре лазерной эпиляции волос на  Candela GentleLasePro-U. Относительные противопоказания зависят от цвета кожи и волос, так пациент со светлой кожей и темными волосами при помощи лазерной эпиляции волос добьется большего результата, чем пациент с темной кожей или светлыми волосами. Модель современного лазера позволяет работать с более светлыми волосами, при этом во время консультации подбираются параметры лазера – на желаемой зоне удаляется немного волос и проверяется результат.
  p Так же не рекомендуется проводить лазерную эпиляцию на темной, загорелой коже и после автозагара, т.к. это может привести к ожогу кожи. Абсолютные противопоказания к проведению лазерной эпиляции волос имеются для пациентов, чей возраст менее 15 лет, беременных, страдающих эпилепсией, имеющих заболевания кожи, злокачественные новообразования.
  
  h3 Подготовка к лазерной эпиляции волос и ее проведение
  p Для того чтобы лазерная эпиляция  Candela GentleLasePro-U была проведена качественно, и волосы были полностью удалены, пациенту необходимо дождаться полного прорастания волос на участках кожи где ранее использовались средства для удаления волос (смола, воск, депиляционные кремы, электрический депилятор), т.к. после них волосы растут неравномерно и на участках, где волосы осветлялись. Желательно чтобы длина волос составляла от 3 до 5-х миллиметров, т.к. при такой длине волосы удаляются максимально безболезненно и эффективно.
  p Если волосы длиннее рекомендуемой длины, то их необходимо побрить или подстричь, кроме лица и шеи. У большинства пациентов порог чувствительности боли высокий, и поэтому процедура лазерной эпиляции для них безболезнен, но у людей со сниженным порогом процедура лазерной эпиляции болезненна, поэтому им, при желании, за два часа до процедуры, рекомендуется сделать анестезию. 
  blockquote Лазерная эпиляция волос занимает немного времени, например, руки около 30 минут, голени 40 минут, бедра 1 час, область бикини 20 минут, область промежности 10 минут, зона на лице над верхней губой 2 минуты.
  
  h3 Процедуры и уход за кожей после проведения лазерной эпиляции волос
  p Так как сразу после проведения лазерной эпиляции волос  Candela GentleLasePro-U кожа немного раздражена, т.е. имеет небольшие покраснения и отеки вокруг волосяных фолликулов, после процедуры специалист наносит уменьшающее раздражение средство. После такого средства раздражение проходит через 15-20 минут, но и без данного средства такая реакция может пройти и естественным путем через 1-3 часа. Очень чувствительная кожа может отреагировать небольшими поверхностными ожогами, которые так же могут возникнуть от приема некоторых лекарственных препаратов - для лечения витилиго, псориаза, сульфаниламидные препараты, антибиотики, тетрациклин, нейролептики и другие. Если ожоги не лечить, то через 7-10 дней они самостоятельно пройдут, а при лечении еще быстрее. На месте ожогов образуются тонкие корочки и при насильственном их удалении или при загаре может возникнуть пигментация, поэтому корочки должны самостоятельно отвалиться.
  img(src="assets/img/sotr/malishko-marina1.jpg", alt="" style="float: right")
  p При наличии покраснений и ожогов можно воспользоваться следующими средствами - лосьон Бепантен или спрей Пантенол, а перед выходом на улицу, наносить солнцезащитный крем с SPF-защитой не менее 30 единиц. Если же ожоги отсутствуют, то необходимо ограничиться использованием раздражающих кремов, особенно содержащие абразивные частички. Если проводится несколько процедур лазерной эпиляции волос, то между процедурами не рекомендуется механическое удаление волос виброэпилятором, пинцетом, воском, депилирующими кремами, а так же нельзя после процедуры загорать в течение одной, и до проведения процедуры в течение трех недель.
  h3 Результаты лазерной эпиляции волос
  p Результат от проведения лазерной эпиляции волос Candela GentleLasePro-U сразу же заметен - тонкие волосы исчезают бесследно, жесткие волосы практически незаметны, но могут определяться на ощупь. Чтобы достичь максимальный наилучший эффект, необходимо провести несколько сеансов, их количество зависит от зоны эпиляции, зависимости роста волос от гормонального статуса и состояния эндокринной системы организма (баланса и дисбаланса половых гормонов, гормонов надпочечников, гипофиза), поэтому мужчинам может потребоваться большее количество процедур, чем женщинам.
  